##### THE ULTIMATE START OF USING THE MAPPERS TO CREATE AND QUERY TABLES

##### 1. Introduction

- importing the necessary modules to use in the course

In [1]:
from sqlalchemy.orm import Mapped, mapped_column,DeclarativeBase,relationship,Session
from sqlalchemy import create_engine,MetaData,ForeignKey,select,insert,func,text
import pandas as pd
import datetime
from typing import List

##### 2. creating a connection

In [2]:
engine = create_engine('sqlite:///test.db',echo=True)

# Each call to get_db() now creates a new session, which is safer and avoids locks.
def get_db():
    db = Session(engine)
    try:
        yield db
    finally:
        db.close()
        
print("connection success")

connection success

##### 3. Creating Models

In [3]:
# Define base class for SQLAlchemy ORM models
class Base(DeclarativeBase):
    pass

# Define User model
class User(Base):
    __tablename__ = "users"
    
    # Primary key
    id: Mapped[int] = mapped_column(primary_key=True)
    
    # User information
    username: Mapped[str] = mapped_column(nullable=False)
    email: Mapped[str] = mapped_column(unique=True, nullable=False)
    
    # Automatically set creation date to today
    created_at: Mapped[datetime.date] = mapped_column(default=datetime.date.today)
    
    # Relationship: One user has many orders
    orders: Mapped[List["Order"]] = relationship(back_populates="user")
    
    def __repr__(self) -> str:
        return f"User(id={self.id}, username={self.username}, email={self.email})"

# Define Order model
class Order(Base):
    __tablename__ = "orders"
    
    # Primary key
    order_id: Mapped[int] = mapped_column(primary_key=True)
    
    # Foreign key to users table
    user_id: Mapped[int] = mapped_column(ForeignKey("users.id"))
    
    # Order details
    item: Mapped[str] = mapped_column(nullable=False)
    price: Mapped[float] = mapped_column(nullable=False)
    quantity: Mapped[int]
    
    # Relationship: Each order belongs to one user
    user: Mapped["User"] = relationship(back_populates="orders")
    
    def __repr__(self) -> str:
        return (
            f"Order(order_id={self.order_id}, item={self.item}, "
            f"price={self.price}, quantity={self.quantity})"
        )

# Create tables in the database
Base.metadata.create_all(engine)
print("Tables created successfully.")

2025-10-16 19:47:25,444 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:47:25,455 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-10-16 19:47:25,461 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-16 19:47:25,469 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orders")
2025-10-16 19:47:25,478 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-16 19:47:25,483 INFO sqlalchemy.engine.Engine COMMIT
Tables created successfully.

##### 4. Inserting the data

- a. Inserting the data using self defined values

In [5]:
#define the users
users = [
    User(username="Kilonzo", email="kilo@gmail.com"),
    User(username="Masila", email="kimeu@gmail.com"),
    User(username="Jane", email="jane@gmail.com"),
    User(username="James", email="james@gmail.com"),
    User(username="Mali", email="mali@gmail.com"),
    User(username="Juma", email="juma@gmail.com"),
]

for db in get_db():
    db.add_all(users)
    db.commit()
    
    # Refresh each user to get their assigned database ID
    for user in users:
        db.refresh(user)
    
    # Define realistic orders using actual user IDs
    orders = [
        Order(user_id=users[0].id, item="Brooms", price=30, quantity=3),
        Order(user_id=users[1].id, item="Gas Cylinder", price=2500, quantity=1),
        Order(user_id=users[0].id, item="Mop", price=34, quantity=3),
        Order(user_id=users[2].id, item="Mangoes", price=90, quantity=37),
        Order(user_id=users[1].id, item="Basins", price=76, quantity=9),
        Order(user_id=users[3].id, item="Brooms", price=76, quantity=33),
        Order(user_id=users[4].id, item="Laptop", price=65000, quantity=1),
        Order(user_id=users[5].id, item="Notebook", price=150, quantity=10),
        Order(user_id=users[2].id, item="Headphones", price=2000, quantity=2),
        Order(user_id=users[3].id, item="Towels", price=350, quantity=5),
        Order(user_id=users[4].id, item="Phone Charger", price=500, quantity=4),
        Order(user_id=users[5].id, item="School Bag", price=1200, quantity=2),
    ]
    
    db.add_all(orders)
    db.commit()

print("first batch of users and orders added successifully")

2025-10-16 19:48:23,996 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:48:24,002 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,007 INFO sqlalchemy.engine.Engine [cached since 50.13s ago (insertmanyvalues) 1/6 (ordered; batch not supported)] ('Kilonzo', 'kilo@gmail.com', '2025-10-16')
2025-10-16 19:48:24,011 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,014 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/6 (ordered; batch not supported)] ('Masila', 'kimeu@gmail.com', '2025-10-16')
2025-10-16 19:48:24,017 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,021 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/6 (ordered; batch not supported)] ('Jane', 'jane@gmail.com', '2025-10-16')
2025-10-16 19:48:24,025 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/6 (ordered; batch not supported)] ('James', 'james@gmail.com', '2025-10-16')
2025-10-16 19:48:24,030 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/6 (ordered; batch not supported)] ('Mali', 'mali@gmail.com', '2025-10-16')
2025-10-16 19:48:24,034 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:24,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/6 (ordered; batch not supported)] ('Juma', 'juma@gmail.com', '2025-10-16')
2025-10-16 19:48:24,041 INFO sqlalchemy.engine.Engine COMMIT
2025-10-16 19:48:24,050 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:48:24,060 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,063 INFO sqlalchemy.engine.Engine [generated in 0.00287s] (1,)
2025-10-16 19:48:24,080 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,083 INFO sqlalchemy.engine.Engine [cached since 0.02241s ago] (2,)
2025-10-16 19:48:24,092 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,097 INFO sqlalchemy.engine.Engine [cached since 0.03632s ago] (3,)
2025-10-16 19:48:24,102 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,107 INFO sqlalchemy.engine.Engine [cached since 0.04649s ago] (4,)
2025-10-16 19:48:24,111 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,112 INFO sqlalchemy.engine.Engine [cached since 0.05231s ago] (5,)
2025-10-16 19:48:24,117 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:24,121 INFO sqlalchemy.engine.Engine [cached since 0.06036s ago] (6,)
2025-10-16 19:48:24,138 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,143 INFO sqlalchemy.engine.Engine [generated in 0.00037s (insertmanyvalues) 1/12 (ordered; batch not supported)] (1, 'Brooms', 30.0, 3)
2025-10-16 19:48:24,148 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,153 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/12 (ordered; batch not supported)] (2, 'Gas Cylinder', 2500.0, 1)
2025-10-16 19:48:24,156 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,158 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/12 (ordered; batch not supported)] (1, 'Mop', 34.0, 3)
2025-10-16 19:48:24,162 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,164 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/12 (ordered; batch not supported)] (3, 'Mangoes', 90.0, 37)
2025-10-16 19:48:24,167 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,170 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/12 (ordered; batch not supported)] (2, 'Basins', 76.0, 9)
2025-10-16 19:48:24,175 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,177 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/12 (ordered; batch not supported)] (4, 'Brooms', 76.0, 33)
2025-10-16 19:48:24,180 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,184 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/12 (ordered; batch not supported)] (5, 'Laptop', 65000.0, 1)
2025-10-16 19:48:24,187 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,190 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/12 (ordered; batch not supported)] (6, 'Notebook', 150.0, 10)
2025-10-16 19:48:24,193 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,197 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/12 (ordered; batch not supported)] (3, 'Headphones', 2000.0, 2)
2025-10-16 19:48:24,201 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,204 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/12 (ordered; batch not supported)] (4, 'Towels', 350.0, 5)
2025-10-16 19:48:24,207 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,210 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/12 (ordered; batch not supported)] (5, 'Phone Charger', 500.0, 4)
2025-10-16 19:48:24,212 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:24,215 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/12 (ordered; batch not supported)] (6, 'School Bag', 1200.0, 2)
2025-10-16 19:48:24,235 INFO sqlalchemy.engine.Engine COMMIT
first batch of users and orders added successifully

- b. Inserting using the faker

In [6]:
# User and Order models assumed already defined
from faker import Faker
import random

fake = Faker()
Faker.seed(0) # for reproducibility
# Create fake users
users = [
    User(
        username=fake.first_name(),
        email=fake.unique.email(),
    )
    for _ in range(10)  # generate 10 users
]

# Insert users and refresh to get their IDs
for db in get_db():
    db.add_all(users)
    db.commit()
    for user in users:
        db.refresh(user)

    # Generate random orders for these users
    items = ['Laptop', 'Phone', 'Book', 'Mug', 'Keyboard', 'T-Shirt', 'Pen', 'Shoes']
    
    orders = []
    for _ in range(20):  # create 20 orders
        orders.append(Order(
            user_id=random.choice(users).id,
            item=random.choice(items),
            price=round(random.uniform(10, 1000), 2),  # random price between 10 and 1000
            quantity=random.randint(1, 5)
        ))

    db.add_all(orders)
    db.commit()

print("Added more fake orders")

2025-10-16 19:48:39,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:48:39,162 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,165 INFO sqlalchemy.engine.Engine [cached since 65.29s ago (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Megan', 'gwilliams@example.com', '2025-10-16')
2025-10-16 19:48:39,169 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,173 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('Richard', 'tammy59@example.org', '2025-10-16')
2025-10-16 19:48:39,176 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,180 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('William', 'donald19@example.com', '2025-10-16')
2025-10-16 19:48:39,182 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,186 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('Vanessa', 'kyleblair@example.net', '2025-10-16')
2025-10-16 19:48:39,189 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,192 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('Mark', 'gomezleslie@example.net', '2025-10-16')
2025-10-16 19:48:39,194 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,197 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('Robin', 'hramos@example.com', '2025-10-16')
2025-10-16 19:48:39,201 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,205 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Bryan', 'davismary@example.net', '2025-10-16')
2025-10-16 19:48:39,208 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,212 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Mallory', 'salazarmaria@example.com', '2025-10-16')
2025-10-16 19:48:39,221 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,226 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('John', 'jane13@example.net', '2025-10-16')
2025-10-16 19:48:39,229 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, created_at) VALUES (?, ?, ?) RETURNING id
2025-10-16 19:48:39,234 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('Jeffrey', 'lindawest@example.org', '2025-10-16')
2025-10-16 19:48:39,238 INFO sqlalchemy.engine.Engine COMMIT
2025-10-16 19:48:39,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:48:39,266 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,269 INFO sqlalchemy.engine.Engine [cached since 15.21s ago] (7,)
2025-10-16 19:48:39,279 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,282 INFO sqlalchemy.engine.Engine [cached since 15.22s ago] (8,)
2025-10-16 19:48:39,290 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,294 INFO sqlalchemy.engine.Engine [cached since 15.23s ago] (9,)
2025-10-16 19:48:39,299 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,302 INFO sqlalchemy.engine.Engine [cached since 15.24s ago] (10,)
2025-10-16 19:48:39,309 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,312 INFO sqlalchemy.engine.Engine [cached since 15.25s ago] (11,)
2025-10-16 19:48:39,319 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,324 INFO sqlalchemy.engine.Engine [cached since 15.26s ago] (12,)
2025-10-16 19:48:39,333 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,336 INFO sqlalchemy.engine.Engine [cached since 15.28s ago] (13,)
2025-10-16 19:48:39,346 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,351 INFO sqlalchemy.engine.Engine [cached since 15.29s ago] (14,)
2025-10-16 19:48:39,364 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,366 INFO sqlalchemy.engine.Engine [cached since 15.31s ago] (15,)
2025-10-16 19:48:39,381 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
WHERE users.id = ?
2025-10-16 19:48:39,393 INFO sqlalchemy.engine.Engine [cached since 15.33s ago] (16,)
2025-10-16 19:48:39,419 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,426 INFO sqlalchemy.engine.Engine [cached since 15.28s ago (insertmanyvalues) 1/20 (ordered; batch not supported)] (12, 'T-Shirt', 441.38, 2)
2025-10-16 19:48:39,440 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,444 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] (10, 'Laptop', 490.69, 3)
2025-10-16 19:48:39,474 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,480 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] (11, 'Pen', 545.17, 4)
2025-10-16 19:48:39,482 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,486 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] (11, 'Shoes', 126.42, 3)
2025-10-16 19:48:39,494 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,496 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] (16, 'Phone', 659.84, 5)
2025-10-16 19:48:39,500 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,502 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] (15, 'Book', 730.83, 3)
2025-10-16 19:48:39,530 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,541 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] (9, 'Mug', 13.29, 2)
2025-10-16 19:48:39,546 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,551 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] (14, 'Shoes', 728.96, 3)
2025-10-16 19:48:39,563 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,565 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] (12, 'Mug', 155.37, 4)
2025-10-16 19:48:39,568 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,572 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] (15, 'T-Shirt', 804.24, 3)
2025-10-16 19:48:39,580 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,583 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] (7, 'Keyboard', 550.77, 1)
2025-10-16 19:48:39,590 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,596 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] (14, 'Book', 639.05, 4)
2025-10-16 19:48:39,600 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,603 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] (8, 'Laptop', 799.1, 5)
2025-10-16 19:48:39,614 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,617 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] (12, 'Pen', 736.14, 2)
2025-10-16 19:48:39,620 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] (7, 'Mug', 168.62, 3)
2025-10-16 19:48:39,633 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,638 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] (11, 'Book', 742.69, 5)
2025-10-16 19:48:39,643 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,647 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] (7, 'Laptop', 833.53, 1)
2025-10-16 19:48:39,649 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,652 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] (9, 'Shoes', 78.49, 4)
2025-10-16 19:48:39,663 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,665 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] (15, 'Mug', 815.54, 4)
2025-10-16 19:48:39,669 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?) RETURNING order_id
2025-10-16 19:48:39,677 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] (16, 'T-Shirt', 279.84, 1)
2025-10-16 19:48:39,682 INFO sqlalchemy.engine.Engine COMMIT
Added more fake orders

- c. Inserting data using the insert keyword

In [8]:
stmt = (
    insert(Order).values([
        {"user_id": 2, "item": "air conditioner", "price": 1200, "quantity": 1},
        {"user_id": 4, "item": "washing machine", "price": 850, "quantity": 1},
        {"user_id": 5, "item": "electric scooter", "price": 1500, "quantity": 2},
        {"user_id": 3, "item": "notebook", "price": 150, "quantity": 5}
    ])
)

for db in get_db():
    db.execute(stmt)
    db.commit()

print("More data added using insert()")

2025-10-16 19:53:35,046 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 19:53:35,050 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, item, price, quantity) VALUES (?, ?, ?, ?), (?, ?, ?, ?), (?, ?, ?, ?), (?, ?, ?, ?)
2025-10-16 19:53:35,052 INFO sqlalchemy.engine.Engine [no key 0.00211s] (2, 'air conditioner', 1200.0, 1, 4, 'washing machine', 850.0, 1, 5, 'electric scooter', 1500.0, 2, 3, 'notebook', 150.0, 5)
2025-10-16 19:53:35,056 INFO sqlalchemy.engine.Engine COMMIT
More data added using insert()

##### 5. Querying the data

- a. Get the data and its related orders

In [37]:
dfu =[]
for db in get_db():
    all_users = db.query(User).all()
    
    for user in all_users:
        serialized_orders =[
            {"item":order.item,
             "price":order.price,
             "quantity":order.quantity
            }
            for order in user.orders
        ]
        dfu.append({
            "username":user.username,
            "email":user.email,
            "created_at":user.created_at,
            "orders":serialized_orders
        })
  
df = pd.DataFrame(dfu)
df

2025-10-16 20:41:05,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:41:05,449 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at
FROM users
2025-10-16 20:41:05,451 INFO sqlalchemy.engine.Engine [cached since 2793s ago] ()
2025-10-16 20:41:05,455 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,458 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (1,)
2025-10-16 20:41:05,461 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,463 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (2,)
2025-10-16 20:41:05,468 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,471 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (3,)
2025-10-16 20:41:05,473 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,474 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (4,)
2025-10-16 20:41:05,478 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,480 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (5,)
2025-10-16 20:41:05,483 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,485 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (6,)
2025-10-16 20:41:05,489 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,491 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (7,)
2025-10-16 20:41:05,494 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,497 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (8,)
2025-10-16 20:41:05,507 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,510 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (9,)
2025-10-16 20:41:05,522 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,526 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (10,)
2025-10-16 20:41:05,529 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,532 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (11,)
2025-10-16 20:41:05,538 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,541 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (12,)
2025-10-16 20:41:05,545 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,547 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (13,)
2025-10-16 20:41:05,552 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,555 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (14,)
2025-10-16 20:41:05,563 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,567 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (15,)
2025-10-16 20:41:05,572 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:41:05,576 INFO sqlalchemy.engine.Engine [cached since 1233s ago] (16,)
2025-10-16 20:41:05,582 INFO sqlalchemy.engine.Engine ROLLBACK

,username,email,created_at,orders
0,Kilonzo,kilo@gmail.com,2025-10-16,"[{'item': 'Brooms', 'price': 30.0, 'quantity':..."
1,Masila,kimeu@gmail.com,2025-10-16,"[{'item': 'Gas Cylinder', 'price': 2500.0, 'qu..."
2,Jane,jane@gmail.com,2025-10-16,"[{'item': 'Mangoes', 'price': 90.0, 'quantity'..."
3,James,james@gmail.com,2025-10-16,"[{'item': 'Brooms', 'price': 76.0, 'quantity':..."
4,Mali,mali@gmail.com,2025-10-16,"[{'item': 'Laptop', 'price': 65000.0, 'quantit..."
5,Juma,juma@gmail.com,2025-10-16,"[{'item': 'Notebook', 'price': 150.0, 'quantit..."
6,Megan,gwilliams@example.com,2025-10-16,"[{'item': 'Keyboard', 'price': 550.77, 'quanti..."
7,Richard,tammy59@example.org,2025-10-16,"[{'item': 'Laptop', 'price': 799.1, 'quantity'..."
8,William,donald19@example.com,2025-10-16,"[{'item': 'Mug', 'price': 13.29, 'quantity': 2..."
9,Vanessa,kyleblair@example.net,2025-10-16,"[{'item': 'Laptop', 'price': 490.69, 'quantity..."
10,Mark,gomezleslie@example.net,2025-10-16,"[{'item': 'Pen', 'price': 545.17, 'quantity': ..."
11,Robin,hramos@example.com,2025-10-16,"[{'item': 'T-Shirt', 'price': 441.38, 'quantit..."
12,Bryan,davismary@example.net,2025-10-16,[]
13,Mallory,salazarmaria@example.com,2025-10-16,"[{'item': 'Shoes', 'price': 728.96, 'quantity'..."
14,John,jane13@example.net,2025-10-16,"[{'item': 'Book', 'price': 730.83, 'quantity':..."
15,Jeffrey,lindawest@example.org,2025-10-16,"[{'item': 'Phone', 'price': 659.84, 'quantity'..."

- Querying the data (you can check the data more)

In [46]:
pd.DataFrame(df.loc[1]['orders'])

              item   price  quantity
0     Gas Cylinder  2500.0         1
1           Basins    76.0         9
2  air conditioner  1200.0         1

- b. To make a table for easy analysis (users join orders)

In [48]:
order_data = []

for db in get_db():
    all_users = db.query(User).all()

    for user in all_users:
        for order in user.orders:
            order_data.append({
                "username": user.username,
                "email": user.email,
                "item": order.item,
                "price": order.price,
                "quantity": order.quantity,
                "created_at": user.created_at
            })

orders_df = pd.DataFrame(order_data)
orders_df

2025-10-16 20:45:03,246 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:45:03,248 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at
FROM users
2025-10-16 20:45:03,250 INFO sqlalchemy.engine.Engine [cached since 3031s ago] ()
2025-10-16 20:45:03,256 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,259 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (1,)
2025-10-16 20:45:03,263 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,265 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (2,)
2025-10-16 20:45:03,268 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,270 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (3,)
2025-10-16 20:45:03,273 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,275 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (4,)
2025-10-16 20:45:03,278 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,279 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (5,)
2025-10-16 20:45:03,283 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,284 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (6,)
2025-10-16 20:45:03,287 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,289 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (7,)
2025-10-16 20:45:03,292 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,293 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (8,)
2025-10-16 20:45:03,297 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,299 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (9,)
2025-10-16 20:45:03,305 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,307 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (10,)
2025-10-16 20:45:03,312 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,313 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (11,)
2025-10-16 20:45:03,317 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,319 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (12,)
2025-10-16 20:45:03,325 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,327 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (13,)
2025-10-16 20:45:03,331 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,333 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (14,)
2025-10-16 20:45:03,336 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,338 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (15,)
2025-10-16 20:45:03,341 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE ? = orders.user_id
2025-10-16 20:45:03,342 INFO sqlalchemy.engine.Engine [cached since 1471s ago] (16,)
2025-10-16 20:45:03,345 INFO sqlalchemy.engine.Engine ROLLBACK

,username,email,item,price,quantity,created_at
0,Kilonzo,kilo@gmail.com,Brooms,30.00,3,2025-10-16
1,Kilonzo,kilo@gmail.com,Mop,34.00,3,2025-10-16
2,Masila,kimeu@gmail.com,Gas Cylinder,2500.00,1,2025-10-16
3,Masila,kimeu@gmail.com,Basins,76.00,9,2025-10-16
4,Masila,kimeu@gmail.com,air conditioner,1200.00,1,2025-10-16
5,Jane,jane@gmail.com,Mangoes,90.00,37,2025-10-16
6,Jane,jane@gmail.com,Headphones,2000.00,2,2025-10-16
7,Jane,jane@gmail.com,notebook,150.00,5,2025-10-16
8,James,james@gmail.com,Brooms,76.00,33,2025-10-16
9,James,james@gmail.com,Towels,350.00,5,2025-10-16
10,James,james@gmail.com,washing machine,850.00,1,2025-10-16
11,Mali,mali@gmail.com,Laptop,65000.00,1,2025-10-16
12,Mali,mali@gmail.com,Phone Charger,500.00,4,2025-10-16
13,Mali,mali@gmail.com,electric scooter,1500.00,2,2025-10-16
14,Juma,juma@gmail.com,Notebook,150.00,10,2025-10-16
15,Juma,juma@gmail.com,School Bag,1200.00,2,2025-10-16
16,Megan,gwilliams@example.com,Keyboard,550.77,1,2025-10-16
17,Megan,gwilliams@example.com,Mug,168.62,3,2025-10-16
18,Megan,gwilliams@example.com,Laptop,833.53,1,2025-10-16
19,Richard,tammy59@example.org,Laptop,799.10,5,2025-10-16
20,William,donald19@example.com,Mug,13.29,2,2025-10-16
21,William,donald19@example.com,Shoes,78.49,4,2025-10-16
22,Vanessa,kyleblair@example.net,Laptop,490.69,3,2025-10-16
23,Mark,gomezleslie@example.net,Pen,545.17,4,2025-10-16
24,Mark,gomezleslie@example.net,Shoes,126.42,3,2025-10-16
25,Mark,gomezleslie@example.net,Book,742.69,5,2025-10-16
26,Robin,hramos@example.com,T-Shirt,441.38,2,2025-10-16
27,Robin,hramos@example.com,Mug,155.37,4,2025-10-16
28,Robin,hramos@example.com,Pen,736.14,2,2025-10-16
29,Mallory,salazarmaria@example.com,Shoes,728.96,3,2025-10-16
30,Mallory,salazarmaria@example.com,Book,639.05,4,2025-10-16
31,John,jane13@example.net,Book,730.83,3,2025-10-16
32,John,jane13@example.net,T-Shirt,804.24,3,2025-10-16
33,John,jane13@example.net,Mug,815.54,4,2025-10-16
34,Jeffrey,lindawest@example.org,Phone,659.84,5,2025-10-16
35,Jeffrey,lindawest@example.org,T-Shirt,279.84,1,2025-10-16

- c. using selectin load

In [50]:
from sqlalchemy.orm import selectinload

stmt = select(User).options(selectinload(User.orders))

for db in get_db():
    users = db.scalars(stmt).all()
    data =[]
    for user in users:
        for order in user.orders:
            data.append({
            "user_id": user.id,
            "name": user.username,
            "email": user.email,
            "order_id": order.order_id,
            "item": order.item,
            "quantity": order.quantity,
            "price": order.price,
            "created_at":user.created_at
        })
df = pd.DataFrame(data)    
df

2025-10-16 20:45:46,668 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:45:46,674 INFO sqlalchemy.engine.Engine SELECT users.id, users.username, users.email, users.created_at
FROM users
2025-10-16 20:45:46,677 INFO sqlalchemy.engine.Engine [cached since 3364s ago] ()
2025-10-16 20:45:46,704 INFO sqlalchemy.engine.Engine SELECT orders.user_id AS orders_user_id, orders.order_id AS orders_order_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
WHERE orders.user_id IN (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-10-16 20:45:46,710 INFO sqlalchemy.engine.Engine [cached since 3364s ago] (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)
2025-10-16 20:45:46,725 INFO sqlalchemy.engine.Engine ROLLBACK

,user_id,name,email,order_id,item,quantity,price,created_at
0,1,Kilonzo,kilo@gmail.com,1,Brooms,3,30.00,2025-10-16
1,1,Kilonzo,kilo@gmail.com,3,Mop,3,34.00,2025-10-16
2,2,Masila,kimeu@gmail.com,2,Gas Cylinder,1,2500.00,2025-10-16
3,2,Masila,kimeu@gmail.com,5,Basins,9,76.00,2025-10-16
4,2,Masila,kimeu@gmail.com,33,air conditioner,1,1200.00,2025-10-16
5,3,Jane,jane@gmail.com,4,Mangoes,37,90.00,2025-10-16
6,3,Jane,jane@gmail.com,9,Headphones,2,2000.00,2025-10-16
7,3,Jane,jane@gmail.com,36,notebook,5,150.00,2025-10-16
8,4,James,james@gmail.com,6,Brooms,33,76.00,2025-10-16
9,4,James,james@gmail.com,10,Towels,5,350.00,2025-10-16
10,4,James,james@gmail.com,34,washing machine,1,850.00,2025-10-16
11,5,Mali,mali@gmail.com,7,Laptop,1,65000.00,2025-10-16
12,5,Mali,mali@gmail.com,11,Phone Charger,4,500.00,2025-10-16
13,5,Mali,mali@gmail.com,35,electric scooter,2,1500.00,2025-10-16
14,6,Juma,juma@gmail.com,8,Notebook,10,150.00,2025-10-16
15,6,Juma,juma@gmail.com,12,School Bag,2,1200.00,2025-10-16
16,7,Megan,gwilliams@example.com,23,Keyboard,1,550.77,2025-10-16
17,7,Megan,gwilliams@example.com,27,Mug,3,168.62,2025-10-16
18,7,Megan,gwilliams@example.com,29,Laptop,1,833.53,2025-10-16
19,8,Richard,tammy59@example.org,25,Laptop,5,799.10,2025-10-16
20,9,William,donald19@example.com,19,Mug,2,13.29,2025-10-16
21,9,William,donald19@example.com,30,Shoes,4,78.49,2025-10-16
22,10,Vanessa,kyleblair@example.net,14,Laptop,3,490.69,2025-10-16
23,11,Mark,gomezleslie@example.net,15,Pen,4,545.17,2025-10-16
24,11,Mark,gomezleslie@example.net,16,Shoes,3,126.42,2025-10-16
25,11,Mark,gomezleslie@example.net,28,Book,5,742.69,2025-10-16
26,12,Robin,hramos@example.com,13,T-Shirt,2,441.38,2025-10-16
27,12,Robin,hramos@example.com,21,Mug,4,155.37,2025-10-16
28,12,Robin,hramos@example.com,26,Pen,2,736.14,2025-10-16
29,14,Mallory,salazarmaria@example.com,20,Shoes,3,728.96,2025-10-16
30,14,Mallory,salazarmaria@example.com,24,Book,4,639.05,2025-10-16
31,15,John,jane13@example.net,18,Book,3,730.83,2025-10-16
32,15,John,jane13@example.net,22,T-Shirt,3,804.24,2025-10-16
33,15,John,jane13@example.net,31,Mug,4,815.54,2025-10-16
34,16,Jeffrey,lindawest@example.org,17,Phone,5,659.84,2025-10-16
35,16,Jeffrey,lindawest@example.org,32,T-Shirt,1,279.84,2025-10-16

- d. Using the `select` to query and group data

In [51]:

stmt = (
    select(Order.item,func.sum(Order.price  * Order.quantity).label("revenue"))
    .group_by(Order.item)
)

for db in get_db():
    df = pd.DataFrame(db.execute(stmt))
df

2025-10-16 20:50:27,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:50:27,254 INFO sqlalchemy.engine.Engine SELECT orders.item, sum(orders.price * orders.quantity) AS revenue
FROM orders GROUP BY orders.item
2025-10-16 20:50:27,256 INFO sqlalchemy.engine.Engine [cached since 3287s ago] ()
2025-10-16 20:50:27,263 INFO sqlalchemy.engine.Engine ROLLBACK

                item   revenue
0             Basins    684.00
1               Book   8462.14
2             Brooms   2598.00
3       Gas Cylinder   2500.00
4         Headphones   4000.00
5           Keyboard    550.77
6             Laptop  71301.10
7            Mangoes   3330.00
8                Mop    102.00
9                Mug   4416.08
10          Notebook   1500.00
11               Pen   3652.96
12             Phone   3299.20
13     Phone Charger   2000.00
14        School Bag   2400.00
15             Shoes   2880.10
16           T-Shirt   3575.32
17            Towels   1750.00
18   air conditioner   1200.00
19  electric scooter   3000.00
20          notebook    750.00
21   washing machine    850.00

##### 6. updation and deletion

In [52]:
#update
for db in get_db():
    user = db.get(User,2)
    user.username = "kimeu Masila"
    user.email = "kimeudan05@gmail.com"
    db.commit()
    
# delete
for db in get_db():
    order = db.query(Order).first()
    db.delete(order)
    db.commit()
    
print("updated ad deleted successifully")

2025-10-16 20:50:53,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:50:53,940 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
2025-10-16 20:50:53,942 INFO sqlalchemy.engine.Engine [generated in 0.00194s] (2,)

2025-10-16 20:50:53,982 INFO sqlalchemy.engine.Engine UPDATE users SET username=?, email=? WHERE users.id = ?
2025-10-16 20:50:53,987 INFO sqlalchemy.engine.Engine [generated in 0.00477s] ('kimeu Masila', 'kimeudan05@gmail.com', 2)
2025-10-16 20:50:54,001 INFO sqlalchemy.engine.Engine COMMIT
2025-10-16 20:50:54,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-16 20:50:54,024 INFO sqlalchemy.engine.Engine SELECT orders.order_id AS orders_order_id, orders.user_id AS orders_user_id, orders.item AS orders_item, orders.price AS orders_price, orders.quantity AS orders_quantity
FROM orders
 LIMIT ? OFFSET ?
2025-10-16 20:50:54,027 INFO sqlalchemy.engine.Engine [generated in 0.00364s] (1, 0)
2025-10-16 20:50:54,039 INFO sqlalchemy.engine.Engine DELETE FROM orders WHERE orders.order_id = ?
2025-10-16 20:50:54,044 INFO sqlalchemy.engine.Engine [generated in 0.00501s] (1,)
2025-10-16 20:50:54,051 INFO sqlalchemy.engine.Engine COMMIT
updated ad deleted successifully